<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tominc.resultapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="ResultApp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".SearchActivity"
            android:label="ResultApp"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".individual_sem"
            android:label="this" />
        <activity
            android:name=".Semwise_result"
            android:label="Performance till now"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ShowSemesterResult"
            android:label="This Semester" />
        <activity
            android:name=".ShowClassResult"
            android:label="Branch result"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".InfoActivity" />
        <activity
            android:name=".GraphActivity"
            android:label="Graph" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/CustomTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".DataBase.DBProvider"
            android:authorities="com.tominc.resultapp" />

        <activity android:name=".HistoryActivity"
            android:label="History"
            android:parentActivityName=".MainActivity" ></activity>
    </application>

</manifest>
